---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}
const { src = '/sichtachsen.mp4' }: Props = Astro.props
---

<DefaultLayout title="Über mich">
  <PageHeader
    title="tl:tr Über mich"
    subtitle="Ich bin ausgebildeter Mediengestalter mit über 20 Jahren Erfahrung in Webdesign, Frontend-Entwicklung und UX/UI. Nach Stationen als Freiberufler, in Festanstellungen (u.a. bei Younect, Sens Media und zuletzt Akquinet) sowie der Gründung eines Start-ups biete ich fundierte Expertise in Konzept, Design und Usability."
    bgType="bordered"
  />
  <section class="narrow container my-16">
    <!-- space-content -->
    <div class="">
      <h2><strong>sichtachsen </strong></h2>
      <!-- my video claim:  -->
      <p>
        
        Seit 20 Jahren arbeite ich unter diesem Namen, weil er perfekt beschreibt, was ich tue: Ich schaffe neue Blickwinkel auf digitale Herausforderungen.
        Sichtachsen sind normalerweise architektonische Linien, die den Blick lenken und Orientierung schaffen. <br>
        Ich betrachte jedes Problem aus verschiedenen Perspektiven - der des Nutzenden und seiner Bedürfnisse, dem Business-Goal und natürlich auch von Stakeholdern. 
        Dabei sehe ich oft, was andere übersehen!.
      </p>
        <div class="claim-svg hidden justify-self-center flex-row md:block my-48">
          <video muted autoplay transition:persist loop="true">
            <source
              src={src}  
              width={536} 
              height={302}
              type="video/mp4"
              aria-controls="hidden"
            />
          </video>
        </div> 
      <h2>die etwas andere Sicht der Dinge</h2>  
      <p>Ich gehe nicht den Standard-Weg. Statt oberflächlicher Lösungen entwickle ich systematisch und strukturiert. 
        Ich denke ganzheitlich - vom großen Ganzen bis ins kleinste Detail. Meine Lösungen funktionieren nicht nur, sie eröffnen 
        neue Möglichkeiten.
        Meine sichtachsen helfen Unternehmen dabei, ihre digitalen Produkte aus einem anderen Blickwinkel zu sehen und zu gestalten. 
        Denn manchmal braucht es einfach eine andere Perspektive, um die wirklich guten Lösungen zu finden.
      </p>

    </div>
  </section>
</DefaultLayout>

<style lang="scss">
.claim-svg {
    max-width: 536px;
    max-height: 302px;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(255, 95, 6);
    background-repeat: no-repeat;
    mask-image: url(../assets/img/sicht.svg);
    -webkit-mask-image: url(../assets/img/sicht.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
  </style>
