---
import CallToAction from './CallToAction.astro'
// import JumpToTop from './JumpToTop.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <JumpToTop /> -->
  <CallToAction />
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navigation</h3>
        <ul class="flex flex-row ">
          <li class="mr-4"><a href="/">Home</a></li>
          <li class="mr-4"><a href="/case-studies">Case Studies</a></li>
          <li class="mr-4"><a href="/portfolio">Portfolio</a></li>
          <li class="mr-4"><a href="/about-me">Über mich</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 md:flex-row-reverse">
        <ul class="flex flex-row items-end ">
          <!-- <li class="mr-4"><a href="/impressum">Impressumg</a></li>
          <li class="mr-4"><a href="/datenschutz">Datenschutz</a></li> -->
        </ul>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Build with <a href="https://astro.build/">Astro</a>.
      </p>
      <p>Version: 0.3.5</p>
      <p>
        Made with ❤️ by <a href="https://sichtachsen.net">Timo Schneider</a>
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
