---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'


/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/timoschneider.png' }: Props = Astro.props
// const { src = '/GifMerge_720x302.gif' }: Props = Astro.props
// const { src = '/sichtachsen.mp4' }: Props = Astro.props

---
<section class="hero my-24">
  <div class="container">
    <!-- Headline -->
    <h1 class="text-left text-6xl lg:text-8xl lg:tracking-[.5rem] md:text-6xl md:tracking-[.25rem]">
      <slot><span class="text-gradient">Timo Schneider</span></slot>
    </h1>
    <!-- Subline -->
    <div class="my-24 grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <slot>
          <p class="text-left text-2xl md:text-left lg:text-3xl leading-12">
            Als Designer für Digitale Produkte verbinde ich digitale und physische Welten, 
            indem ich Nutzerzentriertes UX und UI für komplexe Anwendungen entwerfe. 
            Ich kombiniere strategische Analyse und mit kreativer Energie, um barrierefreie Lösungen zu entwickeln, 
            die die Nutzer verstehen und wirtschaftlich erfolgreich sind.
          
          </p>
        </slot>  
      </div>
      <Image class="hidden lg:block" src={src} alt="" decoding="async" width={474} height={374} loading="eager" />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;

  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-company);
    text-transform: uppercase;
  }

  .claim-svg {
    max-width: 536px;
    max-height: 302px;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(255, 95, 6);
    background-repeat: no-repeat;
    mask-image: url(../assets/img/sicht.svg);
    -webkit-mask-image: url(../assets/img/sicht.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  span small {
    font-size: 50%;
    font-weight: 100;
    color: light-dark(var(--color-secondary-300), var(--color-primary-200));
  }

</style>
